{{!< layout}}

<div class="wrapper">
  <div id="notice">
    {{#if approvalStatus}}
      <p>Approval is needed to reset <button id="approvalButton">Approve</button></p>
    {{/if}}
  </div>
  
  <form>
    
      {{#each result}}
        <div class="marginal">
          <h3 class="title">{{this.ownerTitle}}</h3>
  
          {{#each this.fieldContent}}
            {{#if this.status}}
              <div class="form-check">
                <label class="form-check-label normal-text">
                  <input type="checkbox" class="form-check-input" name="value" value="{{this._id}}" checked disabled>{{this.value}}
                </label>
              </div>
            {{else}}
              <div class="form-check">
                <label class="form-check-label normal-text">
                  <input type="checkbox" class="form-check-input" name="value" value="{{this._id}}" disabled>{{this.value}}
                </label>
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/each}}
    
    <input type="hidden" value="{{id}}" id="hidden-input">
  </form>
  <br>
  <br>
</div>


<script>
  let approvalButton = document.querySelector('#approvalButton');
  const pageUrl = window.location.href;
  const baseUrl = `${pageUrl.split('ngrok.io')[0]}ngrok.io`;
  const id = document.querySelector('#hidden-input').value;
  const url = `${baseUrl}/issue/${id}/approve`;

  approvalButton.addEventListener('click', () => {
    AP.user.getCurrentUser(function({atlassianAccountId}) {
      fetch(url, {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      }, 
      body: JSON.stringify({user:atlassianAccountId})
      })
      .then(response => {
        if(response.ok){
        return response.json();
        }
      })
      .then(data => {
        console.log(data);
      })
    });
  });

</script>
    
