{{!< layout}}
<div class="wrapper">
  <form action="/issue/{{id}}" method="POST" id="custom-form">
        {{#each result}}
            <h3 class="headers">{{this.ownerTitle}}</h3>
            {{#each this.fieldContent}}
                <div>
                    <input type="checkbox" name="value" value="{{this._id}}">
                    <label for="value" class="normal-text">{{this.value}}</label>
                </div>
            {{/each}}
        {{/each}}
        <input type="hidden" value="{{id}}" id="hidden-input">
        <button type="submit" class="aui-button aui-button-primary all-buttons">Save</button>
    </form>
</div>

<script>
  const pageUrl = window.location.href;
  const baseUrl = `${pageUrl.split('ngrok.io')[0]}ngrok.io`;
  const id = document.querySelector('#hidden-input').value;
  const url = `${baseUrl}/issue/${id}`;
  
  const form = document.querySelector('#custom-form');
  
  form.addEventListener('submit', async function (e) => {
    e.preventDefault();
  
    const emptyArray = [];
    
    fetch(url, {
    method: 'POST',
    body: new FormData(form)
    })
    .then(response => {
      if(response){
        document.body.innerHTML = "dodge this";
      }
    })
    .catch(error=> {
      //handle error
      console.log(error);
    });
  });

</script>
    
