{{!< layout}}

<div class="wrapper">
    {{#unless closed}}
      {{#if approvalStatus}}
        <p id="approval" class="noticeText">Request awaiting approval</p>
      {{/if}}
    {{/unless}}
    <p class="noticeText" style="display:none" id="approvalHidden">Your request to reset is awaiting approval</p>

  <form onsubmit="requestViewSubmit(event)">
    {{#unless noCollection}}
      {{#each result}}
        <div class="marginal">
          <h3 class="title">{{this.ownerTitle}}</h3>
          {{#each this.fieldContent}}
            {{#unless this}}
              <p class="normal-text">None</p>
            {{else}}
              {{#if this.status}}
                <div class="form-check">
                  <label class="form-check-label normal-text">
                    <input type="checkbox" class="form-check-input" name="value" value="{{this._id}}" checked disabled>{{this.value}}
                  </label>
                </div>
              {{else}}
                {{#if ../../closed}}
                  <div class="form-check">
                    <label class="form-check-label normal-text">
                      <input type="checkbox" class="form-check-input" name="value" value="{{this._id}}" disabled>{{this.value}}
                    </label>
                  </div>
                {{else}}
                  <div class="form-check">
                    <label class="form-check-label normal-text">
                      <input type="checkbox" class="form-check-input" name="value" value="{{this._id}}">{{this.value}}
                    </label>
                  </div>
                {{/if}}
              {{/if}}
            {{/unless}}
          {{/each}}
        </div>
      {{/each}}
      <input type="hidden" value="{{id}}" id="hidden-input">

      <div class="clearfix" style="margin-top: 20px;">
        {{#unless closed}}
          {{#unless allEmpty}}
            {{#if fieldStatus}}
              <input type="hidden" id="checkStatus">
              {{#if approvalStatus}}
                <button type="button" class="btn btn-primary button-color float-left" id="resetButton" disabled>Reset</button>
              {{else}}
                <button type="button" class="btn btn-primary button-color float-left" id="resetButton" onclick="requestViewReset()">Reset</button>
              {{/if}}
            {{/if}}
          <button type="button" style="display: none;" class="btn btn-primary button-color float-left" id="resetButton" onclick="requestViewReset()">Reset</button>
          <button type="submit" class="btn btn-primary button-color float-right">Save</button>
          {{/unless}}
        {{/unless}}
      </div>
    {{else}}
      <p style="display:none"></p>
    {{/unless}}
  </form>

    <div style="margin-top: 50px">
      {{log  attached}}
      {{#if attached}}
        <p class="title">
          Attachments
        </p>
        <div class="d-flex flex-wrap justify-content-around">
          {{#each attachments}}
            <div>
              <image src="{{this.thumbnail}}">
              <p class="label">
                <a href="{{this.content}}">{{this.filename}}</a>
              </p>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

    
